Repository inko-lang/inko, pull requests merged in 2024-08, with the labels that each got.

#739 Support minimum required Inko version in inko.pkg
  compiler/src/compiler.rs
  compiler/src/pkg/manifest.rs
  inko/src/command/pkg/add.rs
  inko/src/command/pkg/remove.rs
  inko/src/command/pkg/update.rs
Labels: compiler

#742 Run "pkg sync" before running "inko build" if needed
  Cargo.lock
  compiler/src/compiler.rs
  compiler/src/pkg.rs
  compiler/src/pkg/git.rs
  compiler/src/pkg/sync.rs
  compiler/src/pkg/util.rs
  inko/Cargo.toml
  inko/src/command/pkg/add.rs
  inko/src/command/pkg/sync.rs
  inko/src/command/pkg/update.rs
  inko/src/main.rs
  inko/src/pkg/mod.rs
Labels: feature, compiler

#748 Add Iter.chain method
  std/src/std/iter.inko
  std/test/std/test_iter.inko
Labels: feature, std
